:root:root {
  --van-popover-light-text-color: --font-color-index;
  --van-popover-light-background: --back-color;
  --van-popup-background: --back-color;
  --van-sidebar-text-color: --font-color-index;
  --van-sidebar-selected-text-color: #f35050;
  --van-search-action-text-color: --font-color-index;
  --van-dropdown-menu-title-text-color: --else-font-color;
  --van-dropdown-menu-title-active-text-color: --else-font-color;
  --van-search-content-background: --back-color;
  --van-cell-background: --box-color;
  --van-checkbox-label-color: --font-color-index;
}
